table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 20px;
    text-align: center;
}

td {
    text-align: left;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button:hover {
    cursor:pointer;
    background-color: navy;
    color: white;
}